Загрузка предобработка и подготовка данных

Загрузка данных
1. Конкурсант загрузил данные
2. Все данные загружены
3. Данные проверены на техническую информацию и при наличии исключена такая информация
4. Код загрузки данных представлен
5. Код содержит обработку исключений

In [39]:
import pandas as pd
import pathlib as Path
# Objects
path = "../2022/DataSet/objects.csv"
    
dtypes = {'city': 'int32', 'obj_id': 'int32', 'function': 'str', 'square' : 'int32', 'year' : 'float32', 'floor' : 'float32'}
usecols = ['city', 'obj_id', 'function', 'square', 'year', 'floor']
chunks = pd.read_csv(path, dtype=dtypes, usecols=usecols, chunksize=100000, skiprows=1, na_values=['', 'NA'])
data = pd.concat(chunks)
data.drop_duplicates(inplace=True)
data.reset_index(drop=True, inplace=True)

data

      city  obj_id                       function  square    year  floor
0        0       0                      Education    7432  2008.0    NaN
1        0       1                      Education    2720  2004.0    NaN
2        0       2                      Education    5376  1991.0    NaN
3        0       3                      Education   23685  2002.0    NaN
4        0       4                      Education  116607  1975.0    NaN
...    ...     ...                            ...     ...     ...    ...
1444    15    1444  Entertainment/public assembly   19619  1914.0    NaN
1445    15    1445                      Education    4298     NaN    NaN
1446    15    1446  Entertainment/public assembly   11265  1997.0    NaN
1447    15    1447            Lodging/residential   29775  2001.0    NaN
1448    15    1448                         Office   92271  2001.0    NaN

[1449 rows x 6 columns]

          obj_id  counter            datetime
0           1380        1 2018-01-31 04:00:00
1           1133        2 2018-06-01 14:00:00
2            557        0 2018-03-30 05:00:00
3           1307        0 2018-05-28 21:00:00
4           1234        1 2018-01-27 21:00:00
...          ...      ...                 ...
41697595      82        0 2017-10-24 00:00:00
41697596     195        0 2017-02-19 20:00:00
41697597    1325        0 2017-06-09 00:00:00
41697598     187        3 2018-05-24 16:00:00
41697599     674        0 2018-10-10 16:00:00

[41697600 rows x 3 columns]